.terminal {

  animation-name: fade-in;
  animation-duration: 1s;
  position: relative;

  &__box {
    margin-top: 6.5rem;
    height: 45rem;
    width: 75rem;
    background-color: #1f1f1f;
    border-radius: 3.5rem;
    outline: gray solid 2px;
    box-shadow: 0 10px 10px black;
  }
}

@keyframes fade-in {
  0% {
    opacity: 1%;
    top: 1rem;
  }

  100% {
    opacity: 100%;
    top: 0;
  }
}